$sidebar-bg: #3b3e99;
$contacts-item-active: #f23f79;
$input-form-bg: #ededfa;
$incoming-message-bg: #989ad7;

/* COMMON STYLES */

* {
  box-sizing: border-box;
}

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  height: 100vh;
  background-color: #eee;
}