@import "_variables";
@import "mixins";
@import "common";
@import "sidebar";
@import "chat";

//Layout styles

.app-container {
  display: flex;
  max-width: 1200px;
  width: 100%;
  height: 100vh;
  margin: auto;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: relative;
  max-width: 500px;
  width: 40%;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1;
}