/* COMMON STYLES */
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-size: 16px;
  font-family: "Open Sans", sans-serif; }

body {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  background-color: #eee; }

ul {
  list-style: none; }

/* LOG IN / SIGN IN FORM */
.form-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: auto;
  max-width: 300px;
  width: 100%;
  -webkit-border-radius: 10px;
          border-radius: 10px;
  background-color: #fff;
  overflow: hidden; }

.form-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.login-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50%;
  cursor: pointer;
  border: none;
  font-size: 0.875rem;
  font-weight: 600;
  color: #fff;
  padding: 5px;
  background-color: #3b3e99; }

.login-btn-active {
  background-color: #1f204f; }

.form-login,
.form-signin {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 30px 20px; }

.user-email-input,
.user-pass-input {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 0.75rem;
  padding: 10px 15px;
  margin-bottom: 20px;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  border: none;
  outline: none;
  background-color: #ededfa;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease; }

.form-login .user-pass-input {
  margin-bottom: 5px; }

.forgot-pass {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -webkit-flex-direction: row-reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  text-decoration: none;
  font-size: 0.75rem;
  color: #3b3e99;
  padding-right: 15px;
  margin-bottom: 20px;
  -webkit-transition: opacity 0.2s ease;
  transition: opacity 0.2s ease; }

.submit-form-data {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-align-self: center;
      -ms-flex-item-align: center;
          align-self: center;
  width: 50%;
  font-size: 0.875rem;
  font-weight: 600;
  color: #fff;
  padding: 10px;
  border: none;
  outline: none;
  -webkit-border-radius: 25px;
          border-radius: 25px;
  background-color: #f23f79;
  cursor: pointer; }
