//Sidebar styles

@media (max-width: 640px) {

  .sidebar {
    max-width: 90px!important;
  }

  .sidebar-header,
  .contacts-item {
    width: 90px!important;
  }

  #menu-btn,
  .search-form,
  .user-details,
  .user-status {
    display: none!important;
  }

  .chat {
    max-width: 100%;
  }
}

.menu {
  display: none;
  position: absolute;
  top: 80px;
  z-index: 1;
  width: 100%;
  height: 200px;
  padding: 30px 20px;
  background-color: $input-form-bg;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.menu-visible {
  display: flex;
}

.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 20px;
  width: 100%;
  height:80px;
  background-color: $sidebar-bg;
}

#sidebar-toggle-btn,
#menu-btn{
  display: flex;
  position: relative;
  font-size: 1.25rem;
  color: #fff;
  width: 40px;
  height: 40px;
  padding: 10px;
  cursor: pointer;
}

#sidebar-toggle-btn:hover,
#menu-btn:hover {
  color: $incoming-message-bg;
}

.search-form {
  @include form;
}

#search-input {
  @include input;
}

#search-btn {
  @include button;
}

#search-btn:hover {
  color: $sidebar-bg;
}

.contacts-list{
  flex:1;
  background-color: $sidebar-bg;
  overflow-x: hidden;
  overflow-y: scroll;
}

.contacts {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.contacts-item {
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding:20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.contacts-item:hover {
  background-color: darken($sidebar-bg, 20);
}

.contacts-item-active {
  background-color: $contacts-item-active;
}

.contacts-item-active:hover {
  background-color: $contacts-item-active;
}

.contacts-item-active .user-status {
  color: $contacts-item-active;
  background-color: #fff;
}

.userpic {
  display: flex;
  justify-content: flex-end;
  width: 50px;
  height: 50px;
  position: relative;
}

.user-img {
  width: 50px;
  height: 50px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  overflow: hidden;
  background-color: #eee;
}

.user-message-badge {
  display: none;
  text-align: center;
  position: absolute;
  font-size: 0.625rem;
  font-weight: 600;
  color: #fff;
  width: 20px;
  height: 20px;
  background-color: $contacts-item-active;
  border: 2px solid $sidebar-bg;
  line-height: 17px;
  border-radius: 50%;
}

.user-message-badge-visible {
  display: block;
}

.user-details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  padding-left: 20px;
  padding-right: 30px;
  overflow: hidden;
}

.user-name {
  margin: 0;
  font-size: 0.875rem;
  margin-bottom: 20px;
  color: #fff;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-message {
  margin: 0;
  font-size: 0.75rem;
  color: rgba(255, 255, 255, 0.6);
  font-weight: 300;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.user-status {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 50px;
  padding: 0 5px;
  text-align: center;
  height: 20px;
  margin: auto;
  font-size: 0.75rem;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.6);
  border-radius: 10px;
  background-color: darken($sidebar-bg, 10);
}